/*------------------CSS Global------------------------*/

body{
background-image: url('http://e08595.medialib.glogster.com/media/04/0463cfaf4ce3325b2d16bb5f56a4b5466f0df66553198c13ab0245486e872fd3/tumblr-lhlcynrexb1qapgvbo1-500-jpg.jpg');
}

#content, #form{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/*------------------CSS MENU------------------------*/
#tmenu{
	height: 55px;
	width: auto;
	/*border: 1px solid black;*/
	background-color: #009AE3;
	box-shadow: 0 0 12px #999;
}

#tmenu li{

	margin-left: 0px;
	display: inline-block;
	padding: 0 0.5em;
	color : white;
}
#tmenu ul{
	list-style-type: none;
	padding-left: 0px;
	text-decoration: none;
}

#admin{
	visibility: hidden;
}

#tmenu li.bout_g{
	display: block;
	/*margin: 1px;*/
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	border-right: 1px solid #fff;
}

a, a:link{
	color: white;
	text-decoration: none;
	font-family: Impact, fantasy;
}

li.bout_g:hover, li.bout_d:hover{
	color: #333 !important;
	background-color: #7CD8E4;
}

li.bout_d{
	float: right;
	display: block;
	width: 110px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	border-left: 1px solid #fff;
}
/*------------------CSS Form------------------------*/


#forme{
	width: 800px;
	height: 500px;
	background-color: #7CD8E4;
	margin-top: 10px;
	box-shadow: 0 0 12px #999;
}

#dep{
	position: absolute;
}

input{
	width: 796px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	align-content: center;
	margin-top: 17px;
	margin-bottom: auto;
}

























